{
    "parser": "babel-eslint",
    "parserOptions": {
        "sourceType": "module",
        "ecmaVersion": 6,
        "ecmaFeatures": {
            "jsx": true
        }
    },
    "extends": "eslint:recommended",
    "env": {
        "es6": true,
        "browser": true
    },
    "globals": {
        "angular": true,
        "React": true,
        "Vue": true,
        "require": true
    },
    "plugins": [
        "react"
    ],
    "rules": {
        "camelcase": "error",
        "comma-dangle": ["error", "always-multiline"],
        "indent": ["error", 2],
        "new-cap": "error",
        "no-console": 0,
        "no-else-return": "error",
        "no-multi-spaces": "error",
        "no-var": "error",
        "no-whitespace-before-property": "error",
        "no-unused-vars": ["error", { "varsIgnorePattern": "React"}],
        "quotes": ["error", "single"],
        "semi": ["error", "always"]
    }
}
